<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Login Grumblr{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        {% if message %}
        <div>
            <p>{{message}}</p>
        </div>
         {% endif %}

        <form action="{% url 'reset_password_email' %}" mothod="GET">
            <lable>Email</lable>
            <input name="email" type="email"></br>
            <button type="submit">Send email</button>
        </form>
    </body>
</html>